body {
  background: #eee;
  font-family: sans-serif;
  font-size: 24px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;;
  font-size: 24px;
}

.content {
  background: #e3f4ff;
  margin: 16px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 24px;
}